:root {

  --color-first: rgb(36, 211, 155);
  --color-none: transparent;
  --color-zero: #fff;
  --color-negative: #000;

  --color-title: #5c5c5c;
  --color-text: #292929;

  --color-background-light: #f1f4f9;
  --color-background-title-card: rgba(36, 211, 155, 0.10);

  --color-title-card: #08a372;
}
