:root {

  --spacing-big: 180px;
  --spacing-less-big: 80px;
  --spacing-medium: 50px;
  --spacing-normal: 35px;
  --spacing-small: 20px;
  --spacing-minimal: 10px;

  --button-text: 15px;
  --button-radius: 50px;

  --border: 2px;

  --line-height: 30px;
  --medium-line-height: 1.33em;

  --size-title-mobile: 40px;
  --size-text-mobile: 18px;
  --size-medium-title-mobile: 20px;
  --size-title-card-mobile: 20px;
  --size-sub-tile-card-mobile: 13px;
}
