.case-study-texts {
  text-align: center;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
}

.case-study-texts h2 {
  color: var(--color-first);
  font-size: var(--size-text-mobile);
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: var(--spacing-small);
  padding-top: var(--spacing-medium);
}

.case-study-texts h3 {
  font-weight: bold;
  color: var(--color-text);
  opacity: 0.90;
  line-height: var(--medium-line-height);
  font-size: var(--size-medium-title-mobile);
  margin-bottom: var(--spacing-normal);
}